<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Demo 3</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="wrapper">
        <div id="top-div" class="clearfix">
            <div id="logo">
                Logo
            </div>
            <div id="navigation">Navigation</div>
        </div>
        <div class="" id="header-banner">Header/Banner</div>
        <div class="" id="text-area">Intro Text Area</div>
        <div id="boxes-container" class="clearfix">
            <div class="box" id="box-1">Box 1</div>
            <div class="box" id="box-2">Box 2</div>
            <div class="box" id="box-3">Box 3</div>
        </div>
        <footer>Footer</footer>
    </div>
</body>

</html>