<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Layout Demo 3</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="wrapper-div">

		<div id="logo">Logo</div>
		<div id="main-div" class="clearfix">
			<div id="left-div">
				<div id="side-bar">sidebar</div>
				<div id="nav-div">Navigation</div>
			</div>

			<div id="right-div">
				<div id="header-banner">header-banner</div>
				<div id="body-area">body-area</div>
			</div>
		</div>

		<footer id="footer-div">footer</footer>

	</div>

</body>

</html>